name: "Deploy - Hola mundo"

on:
  push:
    branches:
      - "main"

jobs:
  deploy-codigofacil:
    name: nombre-personalizado
    runs-on: ubuntu-latest

    env:
      NAME: CodigoFacilito
    steps:
      - run: echo "hacemos pull del codigo $NAME"
      - run: echo "correr migraciones"
      - name: Working dir
        run: ls -al
      - name: Action
        uses: actions/checkout@v4
      - name: Working dir after action
        run: ls -al

  second_job:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: deploy-codigofacil
    runs-on: ubuntu-latest
    outputs:
      salida: ${{ steps.step_2.outputs.my_variable }}
    steps:
      - name: hola mundo
        run: echo "hacemos pull del codigo"
      - name: working dir
        id: step_2
        run: echo "my_variable=Hola Mundo" >> $GITHUB_OUTPUT

      - name: obtener mensajes
        run: echo "${{ steps.step_2.outputs.my_variable }}"

  third_job:
    runs-on: ubuntu-latest
    needs: second_job

    env:
      SALIDA: ${{ needs.second_job.outputs.salida }}

    steps:
      - name: obtener info de otro job
        run: echo "OBTENCION DE OTRA JOB"