name: "Deploy - Hola mundo"

on:
  push:
    branches:
      - "main"

jobs:
  deploy-codigofacil:
    runs-on: ubuntu-latest
    steps:
      - run: echo "hacemos pull del codigo"
      - run: echo "correr migraciones"
      - run: echo "generar binario"
      - run: echo "publicar version"

  second_job:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: deploy-codigofacil
    runs-on: ubuntu-latest
    steps:
      - name: hola mundo
        run: echo "hacemos pull del codigo"